<%- include("../partials/header") %>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Welcome To Campsites R Us!</h1>
      <p class="lead text-muted">
        See some hand picked campsites from all over the world. You can even add some of your own favorites
      </p>
      <p>
        <a href="/campgrounds/new" class="btn btn-primary my-2">Add New Campground</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% campgrounds.forEach(function(campground) { %>
        <div class="col-md-4">
          
          <div class="card mb-4 shadow-sm">
          <img class="img-thumbnail" src="<%= campground.image %>" />
          <div class="card-body">
            <h4 class="card-title"><%= campground.name %></h4>
            <p class="card-text">
              <%= campground.description %>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="/campgrounds/<%= campground._id %>" role="button">View</a>
                <a class="btn btn-sm btn-outline-secondary" href="/campgrounds/<%= campground._id %>/edit" role="button">Edit</a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
        <% }) %>
      </div>
      </div>
    </div>
  </div>
</main>

<%- include("../partials/footer") %>
